font.migemo-find-in-page-found {
  /* reset */
  display: inline;

  background-color: #ffff00;
}

#migemo-find-in-page-selected {
  /*-webkit-transition: background-color 0.01s ease-out;*/
  background-color: #ff9632;
  -webkit-box-shadow: 3px 3px 6px #888888;
}

#migemo-find-in-page-box {
  /* reset */
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  text-align: left;

  background-color: #e8e8e8;
  position: fixed;
  /* right: 18px; this doesn't look good if there is no scroll bar */
  left: 33px;
  -webkit-transition: top 0.15s ease-out;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border: solid #8e8e8e 1px;
  z-index: 2147483646;
  opacity: 0.7;
}

#migemo-find-in-page-box { /* CSS1Compat */
  margin: 0;
  width: 292px;
  height: 30px;
}

#migemo-find-in-page-box.migemo-find-in-page-BackCompat {
  padding: 4px;
  width: 284px;
  height: 22px;
}

#migemo-find-in-page-box.migemo-find-in-page-active {
  top: -1px;
}

#migemo-find-in-page-box.migemo-find-in-page-inactive {
  top: -34px;
}

#migemo-find-in-page-box input {
  /* reset to WebKit default : http://trac.webkit.org/browser/trunk/WebCore/css/html.css */
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: -webkit-auto;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;

  border: 1px solid #c8c8c8;
  font: -webkit-control;
  padding-left: 2px;
  padding-right: 90px; /* space for span */
  z-index: 2147483647;
}

#migemo-find-in-page-box input { /* CSS1Compat */
  margin: 4px;
  width: 190px;
  height: 18px;
}

#migemo-find-in-page-box.migemo-find-in-page-BackCompat input {
  margin: 0;
  width: 284px;
  height: 22px;
}

#migemo-find-in-page-box span {
  /* reset */
  display: inline;
  position: relative;

  margin: 0;
  padding: 0;
  font: -webkit-control;
  color: #444444;
  height: 18px;
  z-index: 2147483646;
}

#migemo-find-in-page-box span { /* CSS1Compat */
  margin: 4px;
  top: -23px;
  left: 200px;
}

#migemo-find-in-page-box.migemo-find-in-page-BackCompat span {
  margin: 0;
  top: -19px;
  left: 200px;
}
